<% include ./partials/header.ejs %>
<div class="w-full h-screen flex items-center justify-center bg-zinc-800">
  <div class="w-90 h-102  bg-black px-16 py-20 rounded-md">
    <img src="/images/uploads/smartserv.png" />
    <form
      id="loginForm"
      action="/login"
      method="post"
      onsubmit="return validateForm()"
    >
      <input
        class="border-3 mt-8 rounded-md block mt-2 w-full px-3 py-2"
        type="text"
        name="username"
        id="username"
        placeholder="Enter your email"
      />
      <input
        class="border-3 mt-4 rounded-md block mt-2 w-full px-3 py-2"
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
      <input
        class="border-2 mt-4 rounded-md block mt-2 w-full px-3 py-2 bg-[#65a30d] text-white rounded-full"
        type="submit"
        value="Login"
      /> 
      <a
      class="block  mt-2 w-full px-3 py-2  text-white rounded-full"
      href="mailto:support@smartserv.io?subject=Password%20Reset%20Request&body=Please%20reset%20my%20password."
    >
      Forgot password?
    </a>
    
      >
    </form>
  </div>
</div>

<script>

  function validateForm() {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    // Validate email format for username
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(username)) {
      alert("Please enter a valid email address for the username.");
      return false;
    }

    // Validate password format
    var passwordRegex = /^(?=.*[A-Z])(?=.*\d)[A-Za-z\d@]+$/;
    if (!passwordRegex.test(password)) {
      alert(
        "Password must contain an uppercase letter, a number, and only @ as a special character."
      );
      return false;
    }

    // Redirect to the dashboard page on successful login
    if (password === "SmartServTest@123") {
      window.location.href = "/profile"; 
      return false; // Prevent form submission to avoid redirection before the page changes
    }

    return true;
  }
</script>

<% include ./partials/footer.ejs %>
