
<!-- <% include ./partials/header.ejs %> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Add Tailwind CSS CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <!-- Add Chart.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body class="bg-gray-300 p-8">
    <h1 class="font-bold">Company Metrics</h1>
  <div class=" mt-2 grid  grid-cols-4 gap-4 mb-8">
    
    <!-- Cards -->
    <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
      <p class="text-3xl font-bold">$406,411</p>
      <h2 class="mt-4 text-lg font-semibold mb-2">Total Revenue</h2>
    </div>

    <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
      <p class="text-3xl font-bold">$620</p>
        <h2 class="mt-4 text-lg font-semibold mb-2">Total Jobs Avg</h2>
      </div>

      <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
        <p class="text-3xl font-bold">655</p>
        <h2 class="mt-4 text-lg font-semibold mb-2">Ticket Created</h2>
      </div>

      <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
        <p class="text-3xl font-bold">735</p>
        <h2 class="mt-4 text-lg font-semibold mb-2">Tickets Scheduled</h2>
      </div>

      <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
        <p class="text-3xl text-red-500 font-bold">$110,448.8</p>
        <h2 class="mt-4 text-lg font-semibold mb-2">Outstanding amount</h2>
      </div>

      <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
        <p class="text-3xl font-bold">105</p>
        <h2 class=" mt-4 text-lg font-semibold mb-2">Membership Sold</h2>
      </div>

      <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
        <p class="text-3xl font-bold">436</p>
        <h2 class="mt-4 text-lg font-semibold mb-2">Jobs Completed</h2>
      </div>
      <div class="bg-white border-l-8 border-green-400 p-4 rounded-md shadow-md">
        <p class="text-3xl font-bold">65</p>
        <h2 class="mt-4 text-lg font-semibold mb-2">Total Cancelled</h2>
      </div>
    

    <!-- Graphs --> 
    <div class="mt-16 col-span-2 tex bg-white p-4 rounded-md shadow-md">
      <h2 class="text-lg font-semibold mb-4">Revenue by Job Location</h2>
      <canvas id="locationChart" width="400" height="200"></canvas>
      <!-- <h1 class="">Title Below Location Chart</h1>  -->
    </div>

    <div class="mt-16 col-span-2 bg-white p-4 rounded-md shadow-md">
      <h2 class="text-lg font-semibold mb-4">Revenue by Job Type</h2>
      <canvas id="typeChart" width="400" height="200"></canvas>
    </div>
  </div>

  <script>
    // Sample data for charts
    const locationData = {
      labels: ["Everett", "Seattle", "Lynwood","Bothell","Mukilteo","Edmonds"],
      datasets: [{
        label: "Revenue for November 2019",
        data: [ 75000,70000, 40000,30000,20000,15000],
        backgroundColor: [ "#38a169",],
      }]
    };

    const typeData = {
      labels: ["Service Plumbing", "Bid work HVAC", "Service HVAC","Bid work Plumbing","HWT Replacement","Material Scale","Maintainance"],
      datasets: [{
        label: "Revenue for November 2019",
        data: [60000, 40000, 30000,28000,22000,15000,1000],
        backgroundColor: ["#38a169",],
      }],
      

    };

    // Create charts
    const locationChart = new Chart(document.getElementById('locationChart').getContext('2d'), {
      type: 'bar',
      data: locationData,
      options: {
    indexAxis: 'y',
  }
    });

    const typeChart = new Chart(document.getElementById('typeChart').getContext('2d'), {
      type: 'bar',
      data: typeData,
      options: {
    indexAxis: 'y',
  }
    });
  </script>

</body>

</html>

   
<!-- <% include ./partials/footer.ejs %> -->